body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;   
}

button {
    margin: 20px;
}

#header {
    background-color: lawngreen;
}

#winner {
    margin:auto;
    background-color: yellow;
}









